@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #494B51;
  --cbl-navy: #1a174d;
  --cbl-blue: #1d87c8;
  --cbl-dark: #101218;
  --cbl-light: #F3F5F5;
  --font-geist-sans: "Poppins", "Segoe UI", "Aptos", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-geist-mono: "Cascadia Code", "Consolas", "SFMono-Regular", Menlo, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cbl-navy: var(--cbl-navy);
  --color-cbl-blue: var(--cbl-blue);
  --color-cbl-dark: var(--cbl-dark);
  --color-cbl-light: var(--cbl-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
